@model IEnumerable<ASPNET_Core_Project.Models.SoldierImageEntryVM>

@{
    ViewData["Title"] = "Index";
}



<div class="row">
    <div class="col-8 m-auto">
        <div class="card-header alert alert-primary text-center">
            <h1>Soldiers Information</h1>
            <div>
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </div>
        </div>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SoldierName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rank)
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.ImagePath)*@
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoldierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RankName)
                        </td>
                        <td>
                            <img src="@item.ImagePath" width="50" height="50" />
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SoldierId" class="btn btn-outline-info">Edit</a> 
                            <a asp-action="Details" asp-route-id="@item.SoldierId" class="btn btn-outline-secondary">Details</a> 
                            <a asp-action="Delete" asp-route-id="@item.SoldierId" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="card-footer alert alert-primary d-flex justify-content-end">
            <a asp-action="Create" asp-controller="Missions" class="btn btn-outline-primary">Back to Mission</a>
        </div>
    </div>
</div>
